.home_bg_main{
  width: 100%;
  height: 100vh;
  .bg_container{
    position: relative;
    width: 100%;
  }
  .text{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .spaceBG{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
  }
  .r1,.r2,.r3,.r4,.r5,.r6,.r7 ,.l1,.l2,.l3,.l4{
    //background-color: red;
    transform: translatey(0px);
    opacity: 1;
    position: absolute;
    z-index: 2;
  }
  .l1,.l2,.l3,.l4{
    mix-blend-mode: screen;
    animation: glow 5s infinite;
  }
  .r1{
    top: 25% !important;
    left: 60% !important;
    animation: float-3 8s ease-in-out infinite;
  }
  .r2{
    top: 47% !important;
    left: 62% !important;
    animation: float-2 8s ease-in-out infinite;
  }
  .r3{
    top: 37% !important;
    left: 71% !important;
    animation: float-3 6s ease-in-out infinite;
  }
  .r4{
    top: 15% !important;
    left: 45% !important;
    animation: float-1 5s ease-in-out infinite;
  }
  .r5{
    top: 18% !important;
    left: 33% !important;
    animation: float-2 4s ease-in-out infinite;
  }
  .r6{
    top: 36% !important;
    left: 29% !important;
    animation: float-2 5s ease-in-out infinite;
  }
  .r7{
    top: 39% !important;
    left: 45% !important;
    animation: float-1 8s ease-in-out infinite;
  }

  .l1{
    top: 83% !important;
    left: 74% !important;
  }
  .l2{
    top: 59% !important;
    left: 67% !important;
  }
  .l3{
    top: 71% !important;
    left: 7% !important;
  }
  .l4{
    top: 73% !important;
    left: 35% !important;
  }
}

@keyframes glow {
  50% {opacity: 0;}
}

@keyframes float-1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-3 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
